<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Signs & Smiles</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="static/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="static/css/css-circular-prog-bar.css">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1 style="font-size: 4rem; font-weight: 1000; color: #000000; text-align: left; font-family: 'Arial Black', sans-serif; margin-top: 40px; letter-spacing: 1px;">
            Signs & Smiles
          </h1>
          <p style="font-size: 1.5rem; font-weight: 200; color: #ffffff; text-align: left; font-family: 'Poppins', sans-serif; margin-top: 20px; line-height: 1.8; max-width: 800px; margin-left: auto; margin-right: auto;">
            Slaying Indian Sign Language for deaf & mute kids with vibes! Learn the alphabet with 🔥, interactive lessons that hit different. Empower your voice, flex those signs, and shine, fam!
          </p>
          
          <div class="hero_btn-continer">
            <a href="main" class="call_to-btn btn_white-border">
              Try Now!!
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="static/images/First.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="static/images/learn.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3 style = "font-size: 3rem; " >
                Learn
              </h3>
              <p>
                Master the Indian Sign Language alphabet, one letter at a time! Our interactive "Learn" section features big, colorful visuals and
                simple hand movement guides, making it easy for kids to connect each sign with its matching alphabet. Whether you’re
                just starting or brushing up, this journey through the ABCs will build strong, confident fingerspelling skills.
              </p>
              <div class="">
                <a href="learn" class="call_to-btn btn_white-border">
                  Begin!
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3 style = "font-size: 3rem; " >Speak</h3>
              <p>
                Break the silence with "Speak"! Using smart recognition technology, kids can perform fingerspelling by showing hand alphabet signs, 
                which are instantly translated into clear spoken words. This feature helps them practice real communication, empowering them to express thoughts, 
                feelings, and ideas with confidence. It's not just learning signs — it's about bringing voices to the fingertips.
              </p>
              <div class="">
                <a href="main" class="call_to-btn btn_white-border">
                  Begin!
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="static/images/gesture_recognition.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->

    <!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="static/images/games.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3 style = "font-size: 3rem; " >Play</h3>
              <p>
                Step into a world where signs flash randomly, and each one challenges your memory and quick thinking. 
                Guess the word, level up, and see just how much you've mastered. It’s more than just learning 
                it’s about pushing your limits, unlocking new rewards, and having fun while doing it.
              </p>
              <div class="">
                <a href="game" class="call_to-btn btn_white-border">
                  Begin!
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->


  </div>


      <section class="info_section  ">
        <div class="info_logo-box">
          <h2 style = "font-size: 1rem; " >
            Made with ❤️ by Tahareen.
          </h2>
        </div>
          <!-- <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                  dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r 
               </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Useful Link 
                </h5>
                <ul>
                  <li>
                    <a href="">
                        Video games
                    </a>
                  </li>
                  <li>
                   <a href="">
                      Remote control
                   </a>
                  </li>
                  <li>
                    <a href="">
                        3d controller
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                    dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e 
                </p>
              </div>
              <div class="col-md-3">
           
                <div class="subscribe_container">
                  <h5>
                      Newsletter
                  </h5>
                  <div class="form_container">
                    <form action="">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit">
                        Subscribe
                      </button>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="container">
              <div class="social_container">
                 
                  <div class="social-box">
                    <a href="">
                      <img src="images/fb.png" alt="">
                    </a>
      
                    <a href="">
                      <img src="images/twitter.png" alt="">
                    </a>
                    <a href="">
                      <img src="images/linkedin.png" alt="">
                    </a>
                    <a href="">
                      <img src="images/instagram.png" alt="">
                    </a>
                  </div>
                </div>
          </div> -->
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section" style="padding: auto;">
    <p>
      © 2025 Signs & Smiles. All Rights Reserved.
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

 
</body>

</html>